<form class="row g-3">
  <div class="col-md-3">
    <label for="inputName" class="form-label">Name</label>
    <input type="email" class="form-control" id="inputName">
  </div>
  <div class="col-md-3">
    <label for="inputClass" class="form-label">Class</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-3">
    <label for="inputClass" class="form-label">Level</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>