<div class="card" style="col-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{character.name}}</li>
    <li class="list-group-item">{{character.class}}</li>
    <li class="list-group-item">{{character.level}}</li>
  </ul>
</div>