<div class="card" style="col-3">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">{{name}}</li>
		<li class="list-group-item">{{class}}</li>
		<li class="list-group-item">{{level}}</li>
	</ul>
</div>