{{!-- {{> character-editor}} --}}

{{#if characters.length}}
<section>
  <h2>Your Characters</h2>
  <dl class="character-list d-flex justify-content-around flex-wrap">
    {{#each characters as |character|}}
    <dd class="col-sm-10 col-md-2 col-lg-2">
      {{> full-character-info character}}
    </dd>
    {{/each}}
  </dl>
</section>
{{/if}}

<div class="container">
  <div class="row">
    <a class="d-flex justify-content-center" href="/dashboard/new_character"><button>New Character</button></a>
  </div>
</div>
