{{#if posts.length}}
<section>
  <h2>Your Characters</h2>
  <dl>
    {{#each posts as |post|}}
    <dd class="col-10">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Character</a>
    </dd>
    {{/each}}
  </dl>
</section>
{{/if}}

<a href="/new_post"><button >New Character</button></a>