{{> character-editor}}

{{#if characters.length}}
<section>
  <h2>Your Characters</h2>
  <dl>
    {{#each characters as |post|}}
    <dd>
      {{> character-info post}}
      <a href="/dashboard/edit/{{character.id}}" class="edit-link">Edit Character</a>
    </dd>
    {{/each}}
  </dl>
</section>
{{/if}}

<div class="d-flex justify-content-center">
<a href="/dashboard/new_character"><button>New Character</button></a>
</div>